<script src="/socket.io/socket.io.js"></script>
<h1>Products: </h1>
<div id="list">
    {{#each products}}
    <div id="{{this.id}}">
        <ul>
            <li><b>id: </b>{{this.id}}</li>
            <li><b>title: </b>{{this.title}}</li>
            <li><b>description: </b>{{this.description}}</li>
            <li><b>price: </b>{{this.price}}</li>
            <li><b>thumbnails: </b>{{this.thumbnails}}</li>
            <li><b>code: </b>{{this.code}}</li>
            <li><b>stock: </b>{{this.stock}}</li>
            <li><b>category: </b>{{this.category}}</li>
            <li><b>status: </b>{{this.status}}</li>
            <button onclick="deleteProduct({{this.id}})">delete</button>
        </ul>
    </div>
    {{/each}}
</div>
<div>
    <form action="/realTimeProducts" method="post" enctype="multipart/form-data">Add a new product
        <ul>
            <li><label for="title">title </label><input type="text" id="title" name="title" /></li>
            <li><label for="description">description </label><input type="text" id="description" name="description" />
            </li>
            <li><label for="price">price </label><input type="text" id="price" name="price" /></li>
            <li><label for="code">code </label><input type="text" id="code" name="code" /></li>
            <li><label for="stock">stock </label><input type="text" id="stock" name="stock" /></li>
            <li><label for="category">category </label><input type="text" id="category" name="category" /></li>
            <li><label for="status">status </label><input type="text" id="status" name="status" /></li>
            <li><label for="thumbnails">select thumbnails: </label><input type="file" id="thumbnails" name="thumbnails"
                    multiple /></li>
        </ul>
        <button>add</button>
    </form>
</div>

<script src="/js/socket.js"></script>